
<% wcount = @votesforwakeeza %>
<% scount = @votesforstrawberry %>

<% wcount = wcount.to_f %>
<% scount = scount.to_f %>

<% total = wcount + scount %>
<% total = total.to_f %>

<% wprog = wcount / total %>
<% sprog = scount / total %>

<% wprog = wprog * 100 %>
<% sprog = sprog * 100 %>

<% wprog = wprog.round %>
<% sprog = sprog.round %>
<% wcount = wcount.round %>
<% scount = scount.round %>
<% total = total.round %>

<div class="results">

  <h1 style="margin-bottom: 0;"><span class="yellow"><%= total %></span> votes have been cast. </h1>
  <h2 style="margin-top: 0;"><span class="blue"><%= wcount %></span> for Wakeeza; <span class="red"><%= scount %></span> for Strawberry.</h2>

  <div class="meter blue">
    <span style="width: <%= wprog %>%"><h2 class="bartext">(<%= wprog %>%) WAKEEZA</h2></span>
  </div>

  <div class="meter red">
    <span style="width: <%= sprog %>%"><h2 class="bartext">(<%= sprog %>%) STRAWBERRY</h2></span>
  </div>

  <h3>[<a href="http://tinyurl.com/thisisallthatmatters">tinyurl.com/thisisallthatmatters</a>]</h3>

</div>
