<p id="notice"><%= notice %></p>

<h1>Ballots</h1>
<%= @votesforwakeeza %>
<%= @votesforstrawberry %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ballots.each do |ballot| %>
      <tr>
        <td><%= ballot.name %></td>
        <td><%= link_to 'Show', ballot %></td>
        <td><%= link_to 'Edit', edit_ballot_path(ballot) %></td>
        <td><%= link_to 'Destroy', ballot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
